<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <stringAttribute key="implementation_name" value="Parallel (Declarative operations)"/>
    <listAttribute key="models">
        <listEntry value="aliases=Guest&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;modelFile=/workflow_project/UniversityOrganization.xmi&#10;metamodelUri=http\://it.gssi/university_organization/v1&#10;concurrent=false&#10;type=EMF&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;expand=true&#10;fileBasedMetamodelUri=&#10;metamodelFile=&#10;cached=true&#10;name=Guest&#10;modelUri=platform\:/resource/workflow_project/UniversityOrganization.xmi&#10;isMetamodelFileBased=false&#10;validate=false"/>
        <listEntry value="aliases=PersonRemuneration&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;modelFile=/workflow_project/example_1_m2m/PersonRemunerationModel.xmi&#10;metamodelUri=http\://it.gssi/person_remuneration/v1&#10;concurrent=false&#10;type=EMF&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;expand=true&#10;fileBasedMetamodelUri=&#10;metamodelFile=&#10;cached=true&#10;name=PersonRemuneration&#10;modelUri=platform\:/resource/workflow_project/example_1_m2m/PersonRemunerationModel.xmi&#10;isMetamodelFileBased=false&#10;validate=false"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <intAttribute key="parallelism" value="9"/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/workflow_project/example_1_m2m/Guest2Remuneration.etl"/>
</launchConfiguration>
